<div >
    <div class="titre">
      Liste des marques

    </div>
    <div>
      @if (loading){
        <div class="spinner-border text-danger" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>Chargement liste des marques ...
      } @else {
        @for (marque of marques;
            track marque.id;
            let idx=$index;
            let paire=$even;
            let impaire=$odd;
            ) {
            <div
                (click)="setSelectedMarque(marque)"
                class="py-1"
                [class.ligneImpaire]="impaire"
                [class.lignePaire]="paire"
                [class.selectedRow]="marque.id==selectedMarque?.id">

                <div>{{marque.nom}}</div>
                <div>
                    Est paire : {{paire}}<br/>
                    Est impaire : {{impaire}}<br/>
                    <span>N°</span>:

                    &nbsp;
                    <span>{{idx+1}}</span>
                    <br/>
                    <span class="detailsLabel">ID</span>:
                    &nbsp;
                    <span class="detailsValue">{{marque.id}}</span>
                    <br/>


                    <span class="detailsLabel">Description</span>:
                    &nbsp;
                    <span class="detailsValue">{{marque.description}}</span>
                </div>
              @if (marque.id==selectedMarque?.id){
              <div >
                <button class="btn btn-secondary m-1">Modifier</button>
                <button (click)="supprimeSelectedMarque()"
                        class="btn btn-danger m-1">
                  Supprimer
                </button>
              </div>
              }
            </div>
        }
      }

    </div>
</div>
